@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom component styles for the app */
@layer components {
  .chart-container canvas {
    width: 100% !important;
    height: 100% !important;
  }
  
  /* Map specific styles that need to be preserved */
  .woods-map-image {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
    mix-blend-mode: screen;
  }
  
  .sniping-spot {
    cursor: move;
    transform: translate(-50%, -50%);
  }
  
  .target-spot {
    cursor: move;
    transform: translate(-50%, -50%);
  }
  
  .snipe-line {
    transform-origin: left center;
  }
  
  .line-distance {
    transform: translate(-50%, -50%);
  }
} 